<section class="project-2">
<h2 class="vev1">Editing article</h2>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
</section>
