<section class="project-2">
<h2 class="vev1">New Article</h2>
<div class="container projects2-container">

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path %>
</div>
</section>
