<footer class="footer">
        <div class="container footer-container">
            <div class="footer-1">
                <h4 class="footer-logo vev1">C A R C R A Z E</h4>
                <p class="vev1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, non
                </p>
            </div>

            <div class="footer-2"> 
                <h4 class="vev1">Parmalinks</h4>
                <ul class="parmalinks vev1 ">
                    <li>Home</li>
                    <li>Creat Account</li>
                    <li>Blogs</li>
                </ul>
            </div>

            <div class="footer-3">
                <h4 class="vev1">Privacy</h4>
                <ul class="privacy vev1">
                    <li>privacy Policy</li>
                    <li>Terms and conditions</li>
                    <li>Refund Policy</li>
                </ul>
            </div>
            <div class="footer-4">
                <h4 class="vev1">Contact Us</h4>
                <div class="vev1">
                    <p>+92 310 5643 141</p>
                    <p>uk4248609@gmail.com</p>
                </div>
            
            <ul class="footer-social"> 
                <li>
                    <i class="uli uil-facebook-f"></i>
                </li>
                <li>
                    <a href="#"><i class="uli uil-instagram-alt"></i></a>
                </li>
                <li>
                    <a href="#"><i class="uli uil-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="uli uil-linkedin-alt"></i></a>
                </li>
            </ul>
        </div>
        </div>
        <div class="footer-copyright">
            <small class="vev1">Copyright &copy; Car Modification Services</small>
        </div>
    </footer>